/*Navigation*/
.header{
    display: flex;
    justify-content: space-between;
    padding:40px;

    &__logo{
       font-size:24px;
    }
    &__menus{
        display: flex;
        list-style-type:none;
    }
    &__link{
        margin-left: 20px;
        font-size:16px;
    }
    &.active > a{
        background: #ff9100;
    }
 }
/*end Navigation*/
